.banner {
    position: relative;
    background-image: url("../image/img3.jpg");

    padding: 100px 0px;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // z-index: -1;
        background-color: rgba(0, 0, 0, 0.6862745098);
    }


    .banner-row {

        display: flex;
        position: relative;
        z-index: 2;
        justify-content: space-between;
        align-items: center;

        .banner-info {
            width: 50%;

            .banner-title {
                font-size: 55px;
                font-family: "Poppins", serif;
                color: $textcolor;
                line-height: 1.1;

                span {
                    color: $primarycolor;
                }

            }

            p {
                margin: 20px 0px;
            }



            .search-box {
                background-color: rgba(255, 255, 255, 0.1);
                width: 60%;
                padding: 15px 40px;
                border-radius: 80px;
                box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.342);
                backdrop-filter: blur(10px);


                .box-des {

                    display: flex;
                    width: 100%;
                    justify-content: space-between;


                    input {
                        background: transparent;
                        outline: none;
                        border: 0px;
                        width: 60%;
                        border-bottom: 2px solid $textcolor;
                        font-size: 16px;
                        color: $textcolor;


                        &::placeholder {
                            color: $textcolor;
                            font-size: 20px;
                        }


                    }


                    .btn a {
                        color: $textcolor;
                        // padding-left: 140px;
                        font-size: 30px;
                    }
                }

            }
        }




    }

    .banner-image {


        .banner-fig {
            width: 350px;
            height: 350px;
            border: 5px solid $textcolor;
            overflow: hidden;
            border-radius: 50% 50% 0% 50%;
            position: relative;
            z-index: 10;

        }

        .banner-des {
            text-align: right;
            padding: 20px 0px 0px 0px;
            color: $textcolor;
            text-transform: capitalizes;
            font-weight: 500;
            margin: 5px 0px;
            font-family: "Ubuntu", serif;
        }
    }


}


@media screen and (max-width: 992px) {

    .banner {


        padding: 100px 0px;





        .banner-row {


            flex-direction: column;

            .banner-info {
                width: 100%;
                margin-bottom: 30px;

                .banner-title {
                    font-size: 38px;






                }

                p {
                    margin: 15px 0px;
                }




            }




        }

        .banner-image {


            .banner-fig {
                width: 400px;
                height: 400px;



            }

            .banner-des {
                padding: 10px 0px 0px 0px;

            }
        }


    }





}


@media screen and (max-width: 576px) {

    .banner {


        padding: 100px 0px;





        .banner-row {


            flex-direction: column;

            .banner-info {
                width: 100%;
                margin-bottom: 30px;

                .banner-title {
                    font-size: 38px;






                }

                p {
                    margin: 15px 0px;
                }



                .search-box {
                    width: 70%;
                    padding: 10px 30px;



                    .box-des {

                        width: 100%;
                        justify-content: space-between;


                        input {
                            width: 80%;

                            font-size: 16px;
                            color: $textcolor;


                            &::placeholder {
                                font-size: 18px;
                            }


                        }


                        .btn a {

                            font-size: 20px;
                        }
                    }

                }
            }




        }

        .banner-image {


            .banner-fig {
                width: 300px;
                height: 300px;



            }


        }


    }





}